In [1]:
# import libraries
import pandas as pd

In [2]:
# load dataset
feat_path = "../data/processed/features.csv"
df_feat = pd.read_csv(feat_path, parse_dates=["week"])
df_feat.head()

,partner_id,sku_id,category,price,lead_time_weeks,week,sales_units,weekofyear,year,sales_units_lag_1,sales_units_lag_2,sales_units_lag_3,sales_units_lag_4,sales_units_rollmean_4,sales_units_rollmean_8
0,P1,S001,tops,118,1,2022-01-31,25,5,2022,20.0,13.0,27.0,7.0,21.25,18.400000
1,P1,S001,tops,118,1,2022-02-07,39,6,2022,25.0,20.0,13.0,27.0,24.25,21.833333
2,P1,S001,tops,118,1,2022-02-14,18,7,2022,39.0,25.0,20.0,13.0,25.50,21.285714
3,P1,S001,tops,118,1,2022-02-21,9,8,2022,18.0,39.0,25.0,20.0,22.75,19.750000
4,P1,S001,tops,118,1,2022-02-28,22,9,2022,9.0,18.0,39.0,25.0,22.00,21.625000

In [3]:
df_feat[[
    "sales_units",
    "sales_units_lag_1",
    "sales_units_lag_2",
    "sales_units_rollmean_4"
]].corr()

,sales_units,sales_units_lag_1,sales_units_lag_2,sales_units_rollmean_4
sales_units,1.000000,0.127059,0.110758,0.585894
sales_units_lag_1,0.127059,1.000000,0.126816,0.583405
sales_units_lag_2,0.110758,0.126816,1.000000,0.583198
sales_units_rollmean_4,0.585894,0.583405,0.583198,1.000000